.CharacterInfoItem {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 20px;
  font-size: 18px;
  &_Dark {
    color: white;
  }
}

.CharacterInfoItemDescription {
  font-weight: 400;
}
.CharacterInfoItemValue {
  font-weight: 600;
}
